* {box-sizing: border-box;}

body { 
    background-color: #25DFBF;
    color: #110638;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #110638;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: #25DFBF;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header-right a:hover {
  background-color: #25DFBF;
  color: #110638;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.signlog {
    font-size: 18px;
    text-align: center;
    padding: 12px;
    background: none;
    transition-duration: 0.3s;
    border: none;
    border-radius: 4px;
    color: #25DFBF;
}
.signlog:hover {
    background-color: #25DFBF;
    color: #110638;
}
.content {
    text-align: center;
    padding-left: 20px;
}
.text-1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.text-2 {
    font-size: 20px;
}
.column {
    float: left;
    width: 33.33%;
  }

.footer-1 {
    background-color: #110638;
    padding: 2px;
    text-align: center;
    color: #25DFBF;
    font-size: 15px;
    align-items: center;
}

.footer-2 {
    word-spacing: 15px;
    margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
    .footer-1 {
      width: 100%;
    }
  }
